#page {
    padding-top: 60px;
}

#footer{
	margin: 40px;
	margin-left: 450px;
}

@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,400italic);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);


/*    En Style
body {
        background: #F4F8FA;
        font-family: 'Noto Sans', sans-serif;
        direction:ltr;
        text-align:left;
}*/


/*    Arabic Style*/
body {
    font-family: 'Droid Arabic Naskh', serif;
    direction:rtl;
    text-align:right;
    font-weight:bold;
}






